/* General */
body {
    height: 100vh;
}

h1 {
    text-align: center;
}

.container-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Seconds */
.second {
    font-size: 5rem;
    font-weight: bold;
    margin: 20px 0;
}


/* Numbers */
form {
    font-size: 1.2rem;
    font-weight: 500;
}

input {
    border-radius: 10px;
    border: 1px solid gray;
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.random-numbers {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-confirm {
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
    width: 200px;
}

/* Result */
p {
    font-weight: bold;
}